<%= link_to "Capture Example", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <!-- this should actually be the devise route. just here for testing -->
      
      <%#= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
      <!-- this should be a rails helper -->
      <%#= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%#= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%#= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
  <li><a href="#" id="capture_signin_link" class="capture_modal_open">Sign In / Sign Up</a></li>
  <li><a href="#" id="capture_signout_link" class="capture_end_session">Sign Out</a></li>
</ul>
